.content-comment
  .content-comment-table
    .content-comment-table-all
      .content-comment-table-all-individual
        .content-comment-table-all-individual-item
        .content-comment-table-all-individual-item-user
          .content-comment-table-all-individual-item-user-icon
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?3757212980",class: "user-icon-image"
        .content-comment-table-all-individual-item-body
          %div.individual-item-body-text 出品者がコメントを削除しました
          .content-comment-table-all-individual-item-body-time
            %div.individual-item-body-time
              %i.far.fa-clock
              %span.date-comment 94日前

  .content-comment-table-second
    .content-comment-table-all
      .content-comment-table-all-individual
        .content-comment-table-all-individual-item
        .content-comment-table-all-individual-item-user
          .content-comment-table-all-individual-item-user-icon
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?3757212980",class: "user-icon-image"
        .content-comment-table-all-individual-item-body
          %div.individual-item-body-text 出品者がコメントを削除しました
          .content-comment-table-all-individual-item-body-time
            %div.individual-item-body-time
              %i.far.fa-clock
              %span.date-comment 94日前
  .content-comment-table-second
    .content-comment-table-all
      .content-comment-table-all-individual
        .content-comment-table-all-individual-item
        .content-comment-table-all-individual-item-user
          .content-comment-table-all-individual-item-user-icon
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?3757212980",class: "user-icon-image"
        .content-comment-table-all-individual-item-body
          %div.individual-item-body-text 出品者がコメントを削除しました
          .content-comment-table-all-individual-item-body-time
            %div.individual-item-body-time
              %i.far.fa-clock
              %span.date-comment 94日前
  .content-comment-table-second
    .content-comment-table-all
      .content-comment-table-all-individual
        .content-comment-table-all-individual-item
        .content-comment-table-all-individual-item-user
          .content-comment-table-all-individual-item-user-icon
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?3757212980", class: "user-icon-image"

        .user-name-comment あわちん
        .content-comment-table-all-individual-item-body
          %div.individual-item-body-text はじめまして。ずっと、気になっているのですが・・・こちらのバッグの『多少の汚れ』とは、パッと見る限り、目立たない程度なのですか？皮の白いところは画像でわかるのですが、全体の感じがわからなかったので、質問してみました。
          .content-comment-table-all-individual-item-body-time
            %div.individual-item-body-time
              %i.far.fa-clock
              %span.date-comment 74日前

  .content-comment-under
    %form.product-message-form
      %p.message-alert 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input.product-message-form-id{:name => "item_id", :type => "hidden", :value => "m70068440240"}/
      %input.product-message-form-url{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
      %textarea.product-message-form-main{:disabled => "", :name => "body", :type => "text", :value => ""}
      %button.message-submit.btn-gray{:disabled => "", :type => "submit"}
        %span 売り切れのためコメントできません

