%ul.link.to.product
  %li.item-prev
    = link_to 'https://item.mercari.com/jp/m96620691686/', class: 'detail-product-prev' do
      %i.fas.fa-chevron-left
      %span.detail-product-prev-text ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
  %li.item-next
    = link_to 'href="https://item.mercari.com/jp/m20460146592/', class: 'detail-product-next' do
      %span.detail-product-next-text バーにかかってきた電話/東 直己
      %i.fas.fa-chevron-right
