.content-item-box-sns
  .content-item-box-sns-text
    .content-item-box-sns-text-inner{"data-uri" => "product://113299479059860/m70068440240", "fb-iframe-plugin-query" => "app_id=466308336793848&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm70068440240", "fb-xfbml-state" => "rendered"}
      %span.content-item-box-sns-text-inner
        %iframe.content-item-box-sns-text-inner-objec{:allow => "encrypted-media", :allowfullscreen => "true", :allowtransparency => "true", :frameborder => "0", :height => "1000px", :name => "f4174e9b9ba264", :scrolling => "no", :src => "https://www.facebook.com/v2.5/plugins/save.php?app_id=466308336793848&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FGMRn6XEBZ06.js%3Fversion%3D44%23cb%3Df384122138863e8%26domain%3Ditem.mercari.com%26origin%3Dhttps%253A%252F%252Fitem.mercari.com%252Ffb9b51f5fb7e88%26relation%3Dparent.parent&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm70068440240", :style => "border: none; visibility: visible; width: 0px; height: 0px;", :title => "fb:save Facebook Social Plugin", :width => "1000px"}

  .content-item-box-sns-object
    %li.sns.icons
      = link_to 'http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm70068440240%2F" target="_blank', class: 'facebook-detail' do
        %i.fab.fa-facebook-square
    %li.sns.icons
      = link_to 'http://twitter.com/share?count=horizontal&amp;original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm70068440240%2F&amp;text=%E6%AD%A3%E8%A6%8F%E5%93%81%EF%BC%81COACH%E3%80%90%E3%82%B3%E3%83%BC%E2%80%A6%20%28%C2%A5%203%2C380%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm70068440240%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89', class: 'twitter-detail' do
        %i.fab.fa-twitter
    %li.sns.icons
      = link_to '', class: 'printest-detail' do
        %i.fab.fa-pinterest-square
  .content-item-box-sns

