.pankuzu
  .pankuzu-all
    .pankuzu-all-list
      .pankuzu-all-list-big
        = link_to 'メルカリ','https://www.mercari.com/jp/',class: 'list-top'
      %i.fas.fa-angle-right
      .pankuzu-all-list-small
        = link_to '正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ', '#',class: 'list-second'
