.category-search--root{
  position: relative;
  border-right: 1px solid #fff;
}

.nav {
  width: 170px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav li {
  list-style: none;
}
.nav li a {
  display: block;
  width: 170px;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 13px;
  line-height: 2.8;
  background: #fff;
  text-decoration: none;
}
.nav > li:hover > a {/*layer-1*/
  color: black;
  background: #fff;
}
.nav > li li:hover > a {/*layer-2*/
  color: #fff;
  background: $btn-color;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
  transition: 0.6s;
}
.nav li ul li a {
  font-size: 9px;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
  .nav li ul li ul {
    top: 0;
    left: 170px;
  }
  .nav li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
  }
  .nav li ul li ul li:hover > a {/*layer-3*/
    color: #fff;
    background: $btn-color;
  }
  .nav li ul li ul.left {
    top: 0;
    left: -190px;
  }
  .nav li ul li ul.left:before,/*layer-2-left▷*/
  .nav li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 190px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
  }
  .nav li ul li ul.left li:hover > a {/*layer-2-left*/
    color: #fff;
    background: $btn-color;
  }
  .nav li ul li ul li ul.left li:hover > a {/*layer-3-left*/
    color: purple;
    background: #afc6e2;
  }
