.confirmation{
  width: 700px;
  height: 870px;
  margin: auto;
  background-color: #FFF;
  &--head{
    height: 97px;
    line-height: 97px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px;
    border-color: #f5f5f5;
  }

  &--container{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    &--top{
      text-align: center;
      margin: 15px 10px;
      margin-right: 24px;
    }
    &--bottom{
      text-align: center;
      margin: 15px 10px;
      margin-right: 24px;
      border-bottom: solid 1px;
      border-color: #f5f5f5;
    }
  }
  &--img{
    padding: 18px 0;
  }
  &--pay{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
    text-align: center;
    &-title{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-right: 75px;
    }
  }
  &--btn{
    text-align: center;
    height: 48px;
    line-height: 48px;
    width: 320px;
    background-color: $btn-color;
    color: #fff;
    margin-top: 20px;
    margin-left: 180px;
    margin-bottom: 30px;
  }

  &--post-marge{
    display: inline-block;
    font-size: 14px;
  }
  &--point{
    text-align: center;
    height: 48px;
    line-height: 48px;
    width: 320px;
    background-color: #ccc;
    margin: auto;
    line-height: 48px;
  }
  &--postage{
    &--container{
      border-bottom: solid 1px;
      border-color: #f5f5f5;
      padding: 10px 185px 40px;
      line-height: 20px;
    }
    &--spot{
      font-weight: bold;
      font-size: 14px;
    }
    &--post{
      font-size: 12px;
    }
    &--adress{
      font-size: 12px;
    }
    &--name{
      font-size: 12px;
    }
  }
  &--payment-method{
    &--container{
      padding: 10px 185px;
      line-height: 20px;
    }
    &--title{
      font-weight: bold;
      font-size: 14px;
    }
    &--credit-number{
      font-size: 12px;
    }
    &--date{
      font-size: 12px;
    }
    &--img{
      font-size: 12px;
    }
  }
  &--change{
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: #71BCF1;
    :hover{
      opacity: 0.7;
      text-decoration: underline;
    }
  }
  &--fa{
    position: relative;
    top: 4px;
    color: #71BCF1;
  }

}

#payjp_checkout_box input[type=button]{
    width: 320px;
    height: 52px;
    background-color: #d84638!important;
    background-image: none !important;
    border-color: #d84638!important;
}
