.header{
  display: block;
  position: relative;
  z-index: 1001;
  background-color: white;
  height: 95px;
  &__inner{
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    .clearfix{
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: no-repeat;
      overflow:auto;
      .l-left{
        float: left;
        img{
          height: 36px;
          width: 134px;
        }
      }
      .header-form.l-right{
        position: relative;
        width: calc(100% - (134px + 16px));
        float: right;
        .input-default{
          width: 95%;
          height: 16px;
          padding: 9px 32px 9px 8px;
          background: #fafafa;
          border-radius: 4px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
          outline: none;
        }
        .fas.fa-search{
          position: absolute;
          top: 0;
          right: 0;
          width: 36px;
          line-height: 36px;
          cursor: pointer;
          text-align: center;
        }
        .search-btn{
          display:none;
        }
      }
    }
    .header-nav-box{
      margin: 8px 0 0 ;
      border-width: 0;
      .l-left{
        float: left;
        padding: 0;
        margin-left: -25px;
        .header-nav{
          font-size: 0;
          .list{
            font-size: 14px;
            font-weight: 400;
            float: left;
            position: relative;
            height: 38px;
            line-height:32px;
            color: black;
            padding-left: 15px;
          }
        }
      }
      .l-right{
        float: right;
        .header-user-nav{
          font-size: 0;
          overflow:auto;
          width: 380px;
          .list-mypage{
            color:black;
            display:inline-block;
            display: inline-block;
            padding: 0 0 0 16px;
            vertical-align: middle;
            overflow:auto;
            img{
              width: 30px;
              overflow:hidden;;
              border-radius: 50%;
            }
            div{
              margin: 10px 0 0 8px;
              font-size: 14px;
              vertical-align: middle;
              float: right;
            }
          }
          .list-notice{
            display: inline-block;
            padding: 0 0 0 16px;
            vertical-align: middle;
            .fas.fa-bell{
              font-weight:normal;
            }
            div{
              margin: 8px 0 0 8px;
              display: block;
              font-size: 14px;
              color: #333;
            }
          }
          .list-to-do{
            display: inline-block;
            padding: 0 0 0 16px;
            vertical-align: middle;

            div{
              margin: 8px 0 0 8px;
              display: block;
              font-size: 14px;
              color: #333;
            }
            .fas.fa-check{
              display:inline-block;
              font-size: 12px;
              display: inline-block;
            }
            .to-do-list{
              color: #333;
              font-size: 12px;
              text-decoration: none;
              display: inline-block;
              margin: 0;
            }
            .to-do-text {
              display: inline-block;
            }
          }
          .header-btn {
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 3px;
            display: inline-flex;
          }
          .header-btn__login {
            color: white;
            background-color: #EA352C;
            margin-right: 10px;
          }
          .header-btn__signup {
            color: #0099E8;
            border: solid 1px #0099E8;
          }
          .header-btn__signup:hover {
            color: white;
            background-color: #0099E8;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
