// 共通クラス
.box {
  width: 700px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  border-top: solid 1px #EEEEEE;
}
.new__main-text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.title-wrapper {
  margin-bottom: 8px;
  span{
    display: inline-block;
  }
  .title-big {
    font-size: 16px;
    font-weight: bold;
  }
  .title-small {
    font-size: 14px;
    font-weight: bold;
  }
  .must-icon {
    margin-left: 3px;
    color: white;
    width: 32px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    background-color: #FC0D1B;
  }
  .optional-icon {
    margin-left: 3px;
    color: white;
    width: 32px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    background-color: #CCCCCC;
  }
}
.title-wrapper.next {
  margin-top: 36px;
}
.text-field {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px #CCCCCC;
  box-sizing: border-box;
}
.text-area {
  width: 100%;
  height: 140px;
  padding: 20px;
  font-size: 16px;
  border: solid 1px #CCCCCC;
  box-sizing: border-box;
}
.select-field {
  width: 100%;
  height: 48px;
}
.select-field__hidden {
  margin-top: 10px;
  display: none;
}
.select-field__add {
  margin-top: 10px;
}
.search-results-wrapper {
  position: relative;
  cursor: pointer;
}
#search-results {
  overflow: auto;
  left: 0;
  right: 0;
  max-height: 280px;
  position: absolute;
  z-index: 100;
  background-color: #CCCCCC;
  .search-result {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
  }
  .search-result:hover {
    background-color: cyan;
  }
  .no-decoration {
    text-decoration: none;
  }
}
.double-row {
  .left-side {
    width: 210px;
    color: #888888;
    font-size: 14px;
    font-weight: bold;
    float: left;
    background-color: white;
  }
  .right-side {
    width: 400px;
    float: right;
    margin-bottom: 40px;
    background-color: white;
  }
  .right-side-mini {
    width: 400px;
    float: right;
    background-color: white;
  }
}
.error-message {
  font-size: 14px;
  color: red;
}
.error-message {
  display: none;
}
// 個別クラス
.box-first {
  width: 700px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}
.product-image {
  width: 700px;
  overflow: hidden;

  &__info {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .wrapper.image-preview{
    display: flex;
    width: 100%;

    .image-preview--left{
      float: left;
      display: inline;
      flex-direction: row;
      flex-wrap: wrap;

      ul.image-preview--lists{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;

        .preview{
          width: 155px;
          height: 160px;
          background-color: #EEE;
          background-repeat: no-repeat;
          vertical-align: top;
          box-sizing: border-box;
          margin: 1% 10px 1% 0;

          .preview-file{
            height: 80%;
          }
          img{
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: block;
            object-fit: contain;
          }
        }
        .preview-delete{
          display: inline-block;
          text-align: center;
          width: 100%;
          height: 40px;
          line-height: 30px;
          &--btn{
            width: 100%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
          }
          :hover{
              opacity: 0.5;
            }
        }
      }
    }

    .product-image__upload {
      float: right;
      right: 0;
      width: 100%;
      height: 160px;
      box-sizing: border-box;
      border: dashed 1px #CCCCCC;
      background-color: white;
      margin: 0.5rem 0;

      .image-upload__text {
        width: 100%;
        height: 100%;
        padding: 40px;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        overflow: hidden;
      }
    }
  }
}
.right-side-mini.under-bar {
  border-bottom: solid 1px #CCCCCC;
  padding-bottom: 26px;
}
.right-side__left {
  margin-top: 13px;
  width: 200px;
  float: left;
  .title-wrapper.left {
    width: 200px;
  }
}
.right-side__right {
  float: right;
}
.yen-mark {
  font-size: 12px;
  margin-right: 4px;
}
.text-field__mini {
  width: 160px;
  text-align: right;
}
.right-side-mini.under-bar.second {
  padding: 12px 0;
  .product-price__title.title-toosmall {
    font-size: 14px;
  }
  .show.show-tax {
    margin-top: 11px;
  }
}
.right-side-mini.under-bar.third {
  margin-top: 12px;
  .product-price__title.title-toobig {
    font-size: 16px;
    font-weight: bold;
  }
  .show-profit {
    margin-top: 16px;
    font-size: 28px;
    font-weight: bold;
  }
}
.product-price.box.double-row.last-box {
  padding-bottom: 40px;
}
.product-attention.box {
  padding: 43px 40px;
  border: none;
}
.attention-1, .attention-3 {
  margin: 0;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
}
.attention-2 {
  margin: 0;
  height: 42px;
  font-size: 14px;
  line-height: 21px;
}
.exhibit-btn {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 14px;
  margin-top: 40px;
  line-height: 50px;
  text-align: center;
  border: none;
  background-color: #EA352D;
}
.no-line {
  text-decoration: none;
}
.return-btn__wrapper {
  margin-top: 20px;
  text-align: center;
  .return-btn {
    width: 45%;
    height: 50px;
    color: white;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    background-color: #AAAAAA;
    border: none;
  }
}
.blue-icon {
  color: #0099E8;
}
