.content-jquery{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    display: none;
    background: #333;
    background-color: rgba(0, 0, 0, 0.7);

  &--text-box{
    max-width: none;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    background: #fff;
    text-align: center;
    position: relative;

    &--inner{
      padding: 60px;
      line-height: 1.5;
      height: 120px;

      &--title{
        text-align: center;
        font-size:16px;
        font-weight: 600;
      }

      p.content-jquery--text-box--text{
        text-align: center;
        font-size:14px;
      }
    }

    &--bottom{
      margin: 0;
      padding: 0;
      display: block;
      overflow: auto;
      height:60px;
      text-align: center;
      border-top: 1px solid #ccc;

      .content-jquery--text-box--bottom--left {
        float: left;
        width: 49%;
        text-align: center;
        height: 60px;
        line-height: 50px;
        text-decoration: none;
        color: #333;
        border-right: 1px solid #ccc;
        font-size: 14px;
      }
      .content-jquery--text-box--bottom--right{
        float: right;
        cursor: pointer;
        width: 50%;
        font-size: 14px;
        display: block;

        .delete-product-bottom{
          color: #0099e8;
          text-align: center;
          text-decoration: none;
          line-height: 50px;
          height: 100%;
          width: 100%;
          display: block;
        }
      }
    }
  }
}

.content-my-product{
  background: rgb(245, 245, 245);

  &--detail{
    width: 1020px;
    overflow: auto;
    margin: 0 auto 0;

    &--inner{
      float: right;
      width: 780px;
      margin: 70px auto 0;

      &--main{
        padding: 24px 40px 40px;
        background: #fff;

        h2.exhibit-user-item-name{
        font-size: 24px;
        text-align: center;
        word-wrap: break-word;
        line-height: 1.4;
        }

        &--box{
          margin: 16px 0 0;
          overflow: auto;
          display: block;
          overflow-y:hidden;

          &--photo{
            float: left;
            min-width: 300px;
            max-width: 300px;
            min-height: 375px;
            position: relative;
            background: rgb(245, 245, 245);

            &--inner{
              position: relative;
              margin: 0;
              padding: 0;
              height: 300px;

              &--list{
                height: 300px;
              }

              .item-photo-exhibited{
                position: relative;
                width: 100%;
                height: 100%;
                opacity: 1;
              }
            }

            &--underbox{
              position: relative;
              width: 100%;
              height: 75px;

              ul.content-item-main-photo-sub{
                display: inline-block;
                opacity: 1;
                margin: 0;
                padding: 0;
                height: 75px;
                font-size:0;

                li.item-sub{
                  list-style: none;
                  height: 75px;
                  overflow: auto;
                  display: inline-block;


                  .item-sub{
                  width: 75px;
                  height: 75px;
                  max-height: none;
                  }
                }
              }
            }
          }

          table.item-detail-table-exhibit{
            float: right;
            max-width: 300px;
            width: 300px;
            height: 375px;
            margin: 0 auto;
            overflow: auto;
            border: 1px solid #f5f5f5;
            border-collapse: collapse;
            border-spacing: 0;

            tbody.item-detail-table-exhibit--body{
              padding: 0;
              margin: 0;

              tr.record--name{
                margin: 0;
                padding: 0;

                th.record--name--left{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                  border: 1px solid #f5f5f5;
                }

                td.record--name--right{
                  width: 61%;
                  background: #fff;
                  border: 1px solid #f5f5f5;

                  .exhibit-product-user-name{
                    color: #0099e8;
                    text-decoration: none;
                  }
                }
              }

              tr.record--category{
                margin: 0;
                padding: 0;

                th.record--category--left{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                  border: 1px solid #f5f5f5;
                }

                td.record--category--right{
                  width: 61%;
                  background: #fff;
                  border: 1px solid #f5f5f5;

                  .exhibit-prodct-category{
                    color: #0099e8;
                    text-decoration: none;
                    font-size: 14px;
                  }
                }
              }

              tr.record--brand{
                margin: 0;
                padding: 0;

                th.record--brand--left{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                  border: 1px solid #f5f5f5;
                }

                td.record--brand--right{
                  width: 61%;
                  background: #fff;
                  border: 1px solid #f5f5f5;

                  .exhibt-product-brand{
                    color: #0099e8;
                    text-decoration: none;
                  }
                }
              }

              tr.record--state{
                margin: 0;
                padding: 0;

                th.record--state--left{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                  border: 1px solid #f5f5f5;
                }
                td.record--state--right{
                  width: 61%;
                  background: #fff;
                  font-size: 16px;
                  border: 1px solid #f5f5f5;
                }
              }

              tr.record--delivery-fee{
                margin: 0;
                padding: 0;

                th.record--delivery-fee--left{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                  border: 1px solid #f5f5f5;
                }

                td.record--delivery-fee--right{
                  width: 61%;
                  background: #fff;
                  border: 1px solid #f5f5f5;
                }
              }

              tr.record--delivery-method{
                margin: 0;
                padding: 0;

                th.record--delivery-method--left{
                  width: 39%;
                  text-align: left ;
                  font-weight: 400;
                  background: #fafafa;
                }

                td.record--delivery-method--right{
                  width: 39%;
                  background: #fff;
                }
              }

              tr.record--delivery-area{
                margin: 0;
                padding: 0;

                th.record--delivery-area--left{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                }

                td.record--delivery-area--right{
                  width: 61%;
                  background: #fff;

                  .exhibit-delivery-area{
                    color: #0099e8;
                    text-decoration: none;
                  }
                }
              }

              tr.record--delivery-date{
                margin: 0;
                padding: 0;

                th.record--delivery-date--left{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                  border: 1px solid #f5f5f5;
                }

                th.record--delivery-date--right{
                  width: 61%;
                  background: #fff;
                  border: 1px solid #f5f5f5;
                }
              }
            }
          }
        }

        &--price{
          margin: 24px 0 0;
          text-align: center;

          span.exhibit-product-price{
            margin: 0 16px 0 0;
            font-size: 50px;
            font-weight: 600;
          }
          span.exhibit-product-fee{
            margin: 0;
            padding: 0;
            border-style: solid;
            border-width: 0;
          }

          span.exhibit-product-method{
            display: inline-block;
            font-size: 16px;
            margin: 0;
            padding: 0;
          }
        }

        &--description{
          padding: 32px 0 0;
          line-height: 1.5;
          font-size: 18px;

          p.description-about-product{
            white-space: pre-wrap;
            margin: 0;
            padding: 0;
          }
        }

      }

      &--middle{
        margin: 24px 0 24px 0;
        padding: 8px 16px 8px 16px;
        background: #fff;

        .exhibit-product-edit{
          margin: 16px 0 16px 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
        }

        p.content-my-product--detail--inner--middle--center-text {
          font-size: 16px;
          text-align: center;
          margin: 0;
          padding: 0;
        }

        form.stop-exhibit-product{
          margin: 0;
          padding: 0;
          border-style: solid;
          border-width: 0;

          input.stop-exhibit-product--send{
            border: 0;
            outline: 0;
          }

          button.stop-exhibit-product--submit{
            margin: 16px 0 16px 0;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out;
            text-align: center;
          }
        }
        form.delete-exhibit-product{
            margin: 16px 0 16px 0;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
          }
      }
      &--message{
        background: #fff;
        width: 700px;
        margin: 8px auto;

        &--box{
        margin: 0;
        padding: 0;

          &--message{
            padding: 24px;
            overflow: auto;

            ul.message-from-user{
              margin: 0;
              padding:0;

              li.message-from-user--list{
                margin: 1.5em 0 0;
                list-style: none;
                width: 652px;
                text-align: center;
                overflow: auto;
                display: block;

                .message-from-user--list--user{
                  float: right;
                  color: #ea352d;
                  top: -20px;
                  display: inline-block;

                  figure.icon-user-comment{
                    margin: 0;
                    padding: 0;
                    position: relative;

                    .icon-user-comment--imgbox{
                      width: 40px;
                      height: 40px;
                      overflow: auto;

                      .users-icon-commented{
                        width: 32px;
                        height: 32px;
                        margin: 10px 0 0;
                        border-radius: 50%;
                        vertical-align: bottom;
                      }
                    }
                  }
                }

                .message-from-user--list--body{
                  float: left;
                  background: #fbf0e6;
                  width: 600px;
                  border-radius: 15px;
                  line-height: 1.5;
                  word-break: break-all;
                  margin: 10px auto;
                  padding: 16px;
                  position: relative;
                  &--user{
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
