.main-content{
  padding: 0 0 220px;
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__main-sign{
    display: block;;
    margin: 0;

    &-content{
      width: 700px;
      margin: 0 auto;
      background-color: white;

      &-head{
        padding: 32px 16px;
        font-size: 22px;
        text-align: center;
        line-height: 1.5;
        font-weight: bold;

      }

      &-inner{
        padding: 64px;
        border-top: 1px solid #f5f5f5;

        &-content{
          max-width: 320px;
          height: 182px;
          margin: 0 auto;

          .e-mail{
            display: block;
            position: relative;
            background-color: #eee;
            color: #000;
            line-height: 48px;
            width: 100%;
            line-size: 14px;
            border: 1px solid transparent;
            cursor: pointer;
            text-align: center;
            text-decoration: none;

            i.far.fa-envelope{
              position: absolute;
              left: 16px;
              transform: ( 0, -50%);
              color:#ccc;
              font-size: 16px;
              margin: 15px 0 15px 0;
            }
          }

          button.facebook-login{
            margin: 16px 0 0;
            background-color: #385185;
            color: #fff;
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: 48px;
            border: 1px solid transparent;
            cursor: pointer;
            text-align: center;

            i.fab.fa-facebook{
              display: inline-block;
              speak: none;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              color:#fff;
              background: #385185;
              font-size:130%;
              margin: 15px 0 15px 5px;
            }
            .facebook-link{
              color: #fff;
              text-decoration: none;
            }
          }

          button.google-login{
            margin: 16px 0 0;
            background:#dc4e41;
            color:#fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-style: 14px;
            border: 1px solid transparent;
            cursor: pointer;
            text-align: center;

            i.fab.fa-google-plus-g{
              display: inline-block;
              speak: none;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              top: 50%;
              left: 16px;
              font-size: 130%;
              margin: 15px 0 15px 5px;
            }
            .google-link{
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }



}
