ul.mypage-nav--list {
  padding: 0;
  margin: 0;
}
.side-all {
  padding: 0;
  width: 280px;
  display: inline-block;
  vertical-align: middle;
}
.mypage-nav {
  &--head{
    font-size: 16px;
    margin-top: 40px;
  }
  &--list {
    li.mypage-nav--list--item {
      list-style: none;
      border-bottom: solid 1px #EEEEEE;
    }
    h3.mypage-nav--head {
      font-size: 30px;
    }
  }
  &--list--item {
    padding: 16px;
    font-size: 14px;
    min-height: 16px;
    vertical-align: top;
    border-color: #F5F5F5;
    background-color: #FFF;
    i.fa-lg{
      color: #CCC;
    }
  }
  &--list--item:hover{
    background-color: #fafafa;
    text-decoration: none;
    opacity: 1;
    .fas{
      color: #000;
      margin-right: -2px;
    }
  }
}
