.exhibit {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100px;
  height: 160px;
  width: 160px;
  border-radius: 100px;
  background-color: #EA352D;
  .text {
    position: absolute;
    top: 30px;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: white;
    text-decoration: none;
  }
  .icon {
    position: absolute;
    bottom: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: white;
    line-height: 80px;
    text-decoration: none;
  }
}
