.main-content__main-log{
  display: block;
  margin: 0;
  padding: 0;

  &-all{
      max-width: none;
      width: 456px;
      background: #fff;
      margin: 0 auto;

    &-no-account{
      padding: 40px 64px;
      text-align: center;;

      p{
        font-size: 14px;
        margin: 0;
      }

      .link-signin{
        display: block;
        margin: 5px;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
      }
  }

    &-login{
        padding: 32px 64px;
        border-top: 1px solid #eee;

      button.facebook{
        margin:0;
        background: #385185;
        color: #fff;
        position: relative;
        display: block;
        width: 100%;
        line-height: 48px;
        font-style: 14px;
        border: 1px solid transparent;
        cursor: pointer;
        text-align: center;

        i.fab.fa-facebook{
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            color:#fff;
            background: #385185;
            font-size:130%;
            margin: 15px 0 15px 5px;
        }
      }

      button.google{
        margin: 16px 0 0;
        background: #dc4e41;
        color: #fff;
        position: relative;
        display: block;
        width: 100%;
        line-height: 48px;
        border: 1px solid transparent;
        cursor: pointer;
        text-align: center;

        i.fab.fa-google-plus-g{
          display: inline-block;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          top: 50%;
          left: 16px;
          font-size: 130%;
          margin: 15px 0 15px 5px;
        }
      }
    }


    form{
      padding: 0;
      margin: 0;
      border-style: solid;
      border-width: 0;

      .form-login{
        padding: 24px 64px 32px;
        border: 0;

        &-email{
          margin: 0;

          input.login-email{
            width: 100%;
            margin: 0;
            height: 44px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            padding: 0 16px ;
          }
        }

        &-password{
          margin: 24px 0 0;

          input.login-password{
            width: 100%;
            margin: 0;
            height: 44px;
            border-radius: 4px;
            border:1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            padding: 0 16px ;
          }
        }

        &-no-robot{
          margin: 24px 0 0;

          &-recaptcha{
            width: 304px;
            height: 78px;

            iframe.function{
              width: 304px;
              height: 78px;

            textarea{
              width: 250px;
              height: 40px;
              border: 1px solid rgb(193,193,193);
              margin: 10px 25px;
              padding: 0px;
              resize: none;
              display: none;
            }
            }
          }
        }

        button{
          margin: 24px 0 0;
          border: 1px solid #ea352d;
          background: #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
        }
      }
    }

    .forget-password{
      display: block;
      margin: 40px 0 0;
      color: #0099e8;
      text-decoration: none;
    }
  }
}
