@import "variable";

.profile{
    float: right;
    width: 700px;
    height: 600px;
    background-color: #fff;
  &--head{
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align:center;
    padding: 8px 24px;
    font-size: 24px;
    border-bottom: solid 1px;
    border-color: #f5f5f5;
    vertical-align:middle;
  }
  &--container{
    width: 700px;
    height: 156px;
    background-image: url("bubble.png");
    overflow: hidden;

  }
  &--img{
    height: auto;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 245px;
    right: 660px;
  }
  &--nickname{
    height: 30px;
    width: 220px;
    position: absolute;
    top: 265px;
    left: 800px;
  }
  &--change-btn{
    width: 668px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: $btn-color;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: 35px 21px;
    padding: 15px 300px 15px 300px;
  }
  &--text-area{
    min-width: 668px;
    min-height: 260px;
    max-width:  668px;
    max-height: 400px;
    margin-left: 13px;
    margin-top: 25px;
  }
}
